@import 'ominous_colours';

.ominous_warnings {
  .warning {
    position: absolute;
    left:15%;
    top: 100px;
    margin: auto;
    width: 70%;
    z-index: 10000;
    background-color: $white;
    border: $warning solid 3px;
    font-size: 1.2em;

    .heading {

      h2 {
        background-color: $warning;
        color: $white;
        margin: 0;
      }

    }

    h2, .description, .closers {
      padding: 5px;
    }

    .start_hidden {
      display: none;
    }
    
    .closer {
      margin: 0 0 1em;
      p {
        margin: 0;         
      }
    }

  }
}
