<!DOCTYPE html>
<html>
<head>
  <title>Ominous</title>
  <%= stylesheet_link_tag    "ominous/application", :media => "all" %>
  <%= javascript_include_tag "ominous/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
